[2021-02-09 17:22] Mohitmadhav opened #5 "Setting up overall Auth Page Routes"

[2021-02-09 17:23] Mohitmadhav opened #6 "1st time User Input Dialog"

[2021-02-09 17:25] Mohitmadhav opened #7 "Sending User Data to Backend"

[2021-02-10 15:05] PiotrBlachnio opened #8 "Implement getting user's current location"

[2021-02-10 15:07] PiotrBlachnio opened #9 "Integrate Google Auth with the backend part"

[2021-02-10 15:07] PiotrBlachnio opened #10 "Integrate Facebook Auth with the backend part"

[2021-02-10 15:10] PiotrBlachnio opened #11 "Firebase Chat"
## Description
All our chats with different individuals should be visible to us just like in WhatsApp which we can go to by clicking the logo at the navigation panel present at the bottom of the home screen. See the Screenshots.

One way of initiating chat would be (See Chat Userflows shown below): -
- Any user can tap on the displayed books which will take them to the Book description
- Then  the

[2021-02-10 15:11] PiotrBlachnio opened #12 "Create README documentation"

[2021-02-11 12:43] Mohitmadhav commented on #5
OTP->Username->Dashboard
SignUp with Email->LoginPage->RegisterPage->Username->Dashboard
LoginPage (If tapped on forgot password)->ForgotPassword Page->ResetPassword page->LoginPage->dashboard

[2021-02-11 12:43] #5 closed

[2021-02-12 08:06] Mohitmadhav opened #15 "Bookshelf Page UI"

[2021-02-12 08:06] Mohitmadhav opened #16 "Dashboard Page UI"

[2021-02-12 08:08] Mohitmadhav opened #17 "Dashboard Recommendation System Integration"
Integrate Trending Now and Discover New sections with ML

[2021-02-12 08:08] Mohitmadhav opened #18 "Integrate Quotes API"

[2021-02-12 08:09] Mohitmadhav opened #19 "Integrate Book Description API"
To get the genre, rating and description of the selected book

[2021-02-12 08:10] Mohitmadhav opened #20 "Chat Pages UI"

[2021-02-12 08:11] Mohitmadhav opened #21 "Settings Page UI"

[2021-02-12 08:13] Mohitmadhav opened #22 "Explore Nearby UI"

[2021-02-12 08:14] Mohitmadhav opened #23 "Filter User Search"

[2021-02-12 08:15] Mohitmadhav opened #24 "Profile UI (Public+Private)"

[2021-02-12 08:17] Mohitmadhav opened #25 "Remove the location slider widget from User Preferences Dialog"
## Description
- Remove the location bar slider from the user preferences dialog (See the screenshot)
- This slider is already present in the settings screen.

## Current Screenshots
![image](https://user-images.githubusercontent.com/59333817/135639172-8517bbe0-3204-4b31-888f-ee58f2ef613a.png)

##Additional
*Do not* delete this widget from the entire app (Just remove it from *the user_preferences.

[2021-02-12 08:20] Mohitmadhav opened #26 "Splash Screen"
The very first screen with the app logo before the signup screen appears

[2021-02-12 08:36] Mohitmadhav opened #27 "PR issue Template test"
## Description
To test the issue auto-closing with hacktober-done label

[2021-02-15 06:14] PiotrBlachnio opened #28 "Implement uploading an avatar"

[2021-03-10 12:48] #23 closed

[2021-03-11 06:08] #21 closed

[2021-03-19 10:17] Mohitmadhav opened #33 "App Screenshots"
![Screenshot_20210319-152643](https://user-images.githubusercontent.com/59333817/111764253-080ff680-88c9-11eb-8533-a7eb54218e93.png)
![Screenshot_20210319-152655](https://user-images.githubusercontent.com/59333817/111764267-0cd4aa80-88c9-11eb-8332-1a01ce2dd66e.png)
![Screenshot_20210319-152721](https://user-images.githubusercontent.com/59333817/111764271-0d6d4100-88c9-11eb-9c94-52c2680ac043.png)
!

[2021-03-19 10:40] Mohitmadhav opened #34 "App Screenshots for readme"
![Screenshot_20210319-154340](https://user-images.githubusercontent.com/59333817/111765666-a81a4f80-88ca-11eb-960d-bbe5f13407a8.png)
![Screenshot_20210319-154344](https://user-images.githubusercontent.com/59333817/111765670-a9e41300-88ca-11eb-9205-6c9fb4307a44.png)
![Screenshot_20210319-154352](https://user-images.githubusercontent.com/59333817/111765675-aa7ca980-88ca-11eb-815f-2f30e1decdb7.png)
!

[2021-03-19 10:43] #33 closed

[2021-03-20 06:14] Mohitmadhav commented on #28
@wick3ds0ul, please update this feature for both private and public profiles

[2021-03-20 18:38] Mohitmadhav commented on #34
Screenshots added to README file

[2021-03-20 18:38] #34 closed

[2021-03-20 18:38] #12 closed

[2021-04-24 14:17] wick3ds0ul commented on #11
Started working on checklist and will update the next one.

[2021-04-29 14:34] #28 closed

[2021-04-29 16:34] #22 closed

[2021-04-29 16:35] Mohitmadhav commented on #22
Overall UI is fine @wick3ds0ul. I'll create another issue for some minute changes

[2021-04-29 16:37] #16 closed

[2021-04-29 16:42] #6 closed

[2021-04-29 16:42] #8 closed

[2021-04-29 16:42] #15 closed

[2021-04-29 17:13] #20 closed

[2021-04-30 02:27] Mohitmadhav commented on #17
@wick3ds0ul just look into that 3rd section (based on your Interests) to display on the Dashboard. Then I'll collectively integrate it with ML

[2021-04-30 02:41] Mohitmadhav commented on #19
Currently, we have used the dummy data to get an idea of that.

![Screenshot_20210319-152749](https://user-images.githubusercontent.com/59333817/116642034-95943b00-a98b-11eb-8c51-adee1132b08a.png)

[2021-04-30 02:54] Mohitmadhav commented on #7
@PiotrBlachnio what data would you need right now. Email, Username, location, etc?

[2021-04-30 03:08] Mohitmadhav commented on #24
The UI is done @wick3ds0ul. Now we'll focus on retrieving user data on that profile page

[2021-04-30 03:09] #24 closed

[2021-04-30 03:18] Mohitmadhav commented on #10
This also needs to be mentioned in the documentation.

[2021-04-30 04:19] Mohitmadhav opened #37 "Get Username and Location in the Profile"
## Description
Update the Username and state in the profile page through the Userdata given by the user during login.

## Additional data
@wick3ds0ul try to retrieve the data from auth and Mapbox

[2021-04-30 08:42] PiotrBlachnio commented on #9
@Mohitmadhav The required token is called "IdToken"

[2021-04-30 10:30] Mohitmadhav commented on #9
Ok @PiotrBlachnio, I'll give that token during the meet

[2021-04-30 11:16] Mohitmadhav opened #38 "Dashboard screen freezes due to shuffle method"
## Description
Sometimes, the dashboard page gets stuck due to this shuffle method of the booklist

## Current Screenshots
![image](https://user-images.githubusercontent.com/59333817/135616707-348110e8-75d4-4c3c-ade5-30238f931d28.png)
![image](https://user-images.githubusercontent.com/59333817/135616602-b766e77b-e88a-41ec-95a1-69ae0b50fc49.png)

## Additional data
If anyone finds the same issue an

[2021-05-05 13:02] #9 closed

[2021-05-05 13:48] PiotrBlachnio opened #40 "Integrate authentication process with the backend"
## Description
We need to connect authentication done on the frontend side with our server. It'll include all the following methods: Email, Google, and Facebook.

[2021-05-09 04:56] PiotrBlachnio opened #41 "Remove unnecessary comments"
We should remove all the unnecessary comments across the entire project in order to improve readability.

[2021-05-13 06:48] PiotrBlachnio opened #42 "Sample PR Template test"
## Description
To check the Github action for closing issue with done label

[2021-06-06 06:15] Mohitmadhav opened #47 "Delete all the commented files"
## Description
*Delete* all the files that are *fully* commented. An example has been shown in the screenshot.

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135605471-402de461-4dbb-4cb8-8b09-81e45101c62d.png)

## Additional data
List the names of all the files you deleted and write them in your pull request.
Feel free to ask anything in the comments and do not *delete

[2021-06-07 17:46] Mohitmadhav opened #48 "Dark Theme"
## Description
Implement Dark Theme in the Settings Page

## Additional data
See Figma for reference

[2021-06-08 01:53] Mohitmadhav opened #49 "Setting Screen Data"
## Description
Complete the full Setting Screen . Issues related are #48
We need to implement the following
 - Dark Theme
 - About Us, Terms and Conditions data
 - User Genre Selection

## Additional data
We need to discuss the modalities of the Push Notifications (Whether to keep it in the Setting Screen or not) and how to implement them.

@HARSHBHUDOLIA @PiotrBlachnio @wick3ds0ul just have a dis

[2021-06-09 16:02] HARSHBHUDOLIA opened #50 "To Use Media Query to make APP more dynamic"
## Description
The app needs to be user friendly when the orientation and sizes of mobile devices differ, it also needs to be responsive and adaptive to both android and IOS which might be a problem with some segments of code used

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135593436-21590097-4e7e-4e69-b5c7-06a599bfcc27.png)

## Steps to Reproduce
Please provide det

[2021-07-30 23:24] #48 closed, assigned to Williamtobs

[2021-08-07 15:13] Mohitmadhav opened #56 "Remove Confirmation Code Screen"
## Description
- Remove the confirmation code page and directly navigate the register screen to the dashboard.
- Remove the *confirm_email.dart* file, and set the routing accordingly. (Register Page is a dummy right now, we'll make it functional through creating another issue)
-  Also remove all the functions related to the above file, like ConfirmationCodeTextField(), etc from the app as shown in

[2021-08-23 11:52] #49 closed, assigned to Williamtobs

[2021-09-30 13:47] Mohitmadhav commented on #10
This won't be carried out for now (1st release)
Only chat feature will be enabled.

[2021-09-30 14:07] Mohitmadhav commented on #42
@ankitoscar this issue will chek for the hacktober-done part

[2021-09-30 14:59] #42 closed

[2021-09-30 16:32] #27 closed

[2021-10-01 11:52] CH1NRU5T commented on #47
Could you assign me this issue?

[2021-10-01 12:06] HanakoK9 commented on #47
I'd like to work on this issue

[2021-10-01 15:34] Mohitmadhav opened #79 "Edit Profile and Owner's Info tab not working (Provider State Management)"
## Description
- The Edit Profile Page isn't opening. The error is as shown below.
- Same error occurs in the book description page when tapping on *Owner's Info*
- Try it in your local system first

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135646066-2f45577f-6a3e-4648-8a71-549a20872689.png)
![image](https://user-images.githubusercontent.com/59333817/135713190-2f9

[2021-10-01 15:35] Mohitmadhav commented on #79
The entire error is:

Exception has occurred.
ProviderNotFoundException (Error: Could not find the correct Provider<UserData> above this EditProfile Widget

This happens because you used a `BuildContext` that does not include the provider
of your choice. There are a few common scenarios:

- You added a new provider in your `main.dart` and performed a hot-reload.
  To fix, perform a hot-restart.

-

[2021-10-01 16:55] Mohitmadhav opened #80 "Dark Theme mismatch"
## Description
- The Dark theme color schemes are not matching correctly.
- Design: https://www.figma.com/file/uhWQuE4EKDHR8AqH4p3eFK/Books-App?node-id=0%3A1

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135658187-57650735-f33d-4cc0-ac6e-d03c24ccbb5f.png)
![image](https://user-images.githubusercontent.com/59333817/135658243-e1703308-cb0d-437a-9c1b-3095008584bc.png)
![

[2021-10-01 16:58] alceil commented on #38
It seems like a null error i can help solve it Can anyone assign this issue to me?

[2021-10-01 16:59] alceil commented on #25
Can i work on this?

[2021-10-01 17:24] Mohitmadhav opened #82 "Change Google Sign In button"
## Description
Change the Google sign-in button to a broader one.

## Current  Screenshots
![image](https://user-images.githubusercontent.com/59333817/135661646-2b4c7482-2031-473f-83e5-899651b0d777.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Remove the Facebook button
2. Change the Google button UI using  https://pub.dev/packages/flutter_signin_button

[2021-10-01 17:42] Mohitmadhav opened #83 "Email Authentication using Provider and Firebase"
## Description
- Setup Email Signup using Firebase and Provider State management
- #56 has already been created for removing the confirmation code page
- Auth user flow is shown below

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135663846-50ee37a7-8c02-47e7-8c25-84e60c79f851.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Make

[2021-10-01 17:57] phan-dev commented on #80
@Mohitmadhav
Can you assign this issues for me?

[2021-10-01 17:58] phan-dev commented on #82
@Mohitmadhav
Can you assign this issue for me?

[2021-10-01 19:42] VidhiBhatt01 commented on #80
I can fix this, can you assign it to me?

[2021-10-02 04:04] Mohitmadhav commented on #47
Okay @CH1NRU5T
Remember to do *git pull upstream main* before pushing any change from your forked repo.

[2021-10-02 04:18] Mohitmadhav commented on #80
@VidhiBhatt01, I have an issue based on the light theme, you can work on that if you want. Also, more issues beginner-friendly issues will be created.

Till then @phan-dev, I'm assigning this issue to you.

[2021-10-02 04:29] VidhiBhatt01 commented on #80
Yeah I can work on that as well! No worries.. Also I will keep on checking more issues you create

[2021-10-02 04:43] Mohitmadhav opened #86 "Change Light Theme Color scheme"
## Description
As you can see in the screenshot, the user choice chip and personalize button is not visible and without borders respectively.

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135703744-17a6abf4-1fb8-4b8e-9c39-f1e291102da2.png)
![image](https://user-images.githubusercontent.com/59333817/135703745-65c62184-c8ed-4e2e-99f0-fa85d967c78f.png)

## Steps to Repro

[2021-10-02 04:54] Mohitmadhav commented on #56
@anhhao92 firstly you should comment here and get yourselves assigned with the issue.
Then only you can create a PR.

[2021-10-02 04:59] krish-dev-7 commented on #56
would you please assign this to me

[2021-10-02 04:59] riyaku11 commented on #86
I would like to work on this issue.

[2021-10-02 05:08] keyurgit45 commented on #86
I would like to work on this!

[2021-10-02 05:52] Sayam06 commented on #82
@Mohitmadhav please assign it to me

[2021-10-02 05:59] anhhao92 commented on #56
Could you assign this issue to me

[2021-10-02 06:05] Mohitmadhav commented on #86
Okay @riyaku11, I'm assigning it to you.

@keyurgit45 don't worry, more issues will be created. You can work on them if you want.
Tag me in the comments to get yourself assigned.

[2021-10-02 06:06] Mohitmadhav commented on #56
I didn't get you.
And please read the updated guidelines in the readme.

[2021-10-02 06:20] keyurgit45 commented on #86
No problem!

[2021-10-02 06:21] Mohitmadhav commented on #82
@phan-dev you can work only on one issue at a time. Read the guidelines given in the README file for more details.

@Sayam06 I'm assigning it to you. And please make sure to submit the PR as per the template.

[2021-10-02 06:26] keyurgit45 commented on #56
Can i work on this? @Mohitmadhav

[2021-10-02 07:13] hrigved-dev commented on #82
Hey @Mohitmadhav , I wish to contribute to this project. Please consider me for any future issues :)

[2021-10-02 07:25] Mohitmadhav commented on #56
@anhhao92 @krish-dev-7 please follow the guidelines given in the README before making any PR.
You can only make a PR after you get assigned.

[2021-10-02 08:03] keyurgit45 commented on #83
Can I work on this?

[2021-10-02 08:47] Mohitmadhav commented on #25
Okay @alceil

[2021-10-02 08:50] Mohitmadhav commented on #83
Cool @keyurgit45.
Also, follow the updated Guidelines in the README.

[2021-10-02 08:54] Mohitmadhav commented on #38
@alceil you can do one issue at a time. And make sure to follow the updated guidelines in README file.

[2021-10-02 09:42] Mohitmadhav commented on #82
Sure @hrigved-dev, more issues will be created, you can comment and tag me before others,  for getting assigned !!

[2021-10-02 09:43] keyurgit45 commented on #83
In widgets.dart there are custom textformfields for email and password. to get the text should I use textEditingController or onchanged ? @Mohitmadhav

[2021-10-02 11:49] #82 closed

[2021-10-02 11:56] Mohitmadhav commented on #83
@keyurgit45 use textEditingController and make sure to check the validators.

[2021-10-02 12:03] Mohitmadhav opened #92 "Revamp Firebase Database and Provider Functions"
## Description
We need to make two Collections
1. Books
 *  Book ISBN Number (unique identification),
 *  Book Name,
 *  Book Author,
 *  Book Genre,
 *  Book Owner (Will contain uid of user who is inputting the book),
 *  Book Description, Book Photo

 **Apart from ISBN and Book Owner all fields can be null**

2. User
* User name,
* Location (lat,long),
* User photo,
* User bio,
* User Genre Pref

[2021-10-02 13:33] Mohitmadhav opened #94 "Display nearby books in Explore Nearby Screen"
## Description
- Write code so that we can find all the users in a 5 km radius.
- We should be able to do it by calculating distance via a lat long field of users.
- We should then be able to fetch all books that belong to all the users within a 5 km radius.
- Similarly, we need to do for 5-10 km, and 10-20 km (The dummy UI is shown below)

## Screenshots
![image](https://user-images.githubusercon

[2021-10-02 14:01] Mohitmadhav opened #95 "Null Safety Migration"
## Description
Migrate the app to null safety with the latest flutter version: 2.5.2 and check which dependencies are incompatible.

## Screenshots
None

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. See https://dart.dev/null-safety/migration-guide
2. See how to fix the partially migrating dependencies
3. Make sure to follow the Linting rules ( analysis_options

[2021-10-02 14:06] Mohitmadhav opened #96 "Remove Facebook Login"
## Description
Completely remove the Facebook Authentication functionalities from the app.

## Screenshots
None

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Auth files: lib/services/auth.dart
2. Remove all Facebook login commands if present in the UI.

## Additional data
None

[2021-10-02 14:11] sarthakvaishnav09 commented on #96
Hey, I would like to work on this.

[2021-10-02 14:51] Mohitmadhav opened #97 "Retrieve Owner's book data from API"
## Description
Currently, books are being retrieved from Google Books API, but not all books are present there.

## Screenshots
<div class = "row">
<img src="https://user-images.githubusercontent.com/59333817/135721109-4e679906-8700-4008-8b18-00b0ec383719.png" width=30% />
<img src="https://user-images.githubusercontent.com/59333817/135721510-33483949-8041-4d38-84d6-1a0903f53dac.png" width=30% />

[2021-10-02 14:56] dazzlerkumar commented on #96
Hey @Mohitmadhav , You can assign this to me.
Thank You!

[2021-10-02 15:14] Mohitmadhav opened #98 "Implement Google Sign-out"
## Description
 - The user should log out when tapped on the **Logout** button as shown in the screenshot.
 - Currently, the user directly gets navigated to the initial screen without getting logged out.

## Screenshots
<div class = "row">
<img src="https://user-images.githubusercontent.com/59333817/135721109-4e679906-8700-4008-8b18-00b0ec383719.png"
 width = 45% />
<img src="https://user-images.g

[2021-10-02 15:24] Mohitmadhav opened #99 "Linting check (Remove Warnings)"
## Description
 - Remove all the warnings as shown in the screenshot below.

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/135722631-9c433989-db61-4c5f-bfbc-683a8ba691ad.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. See analysis_options.yaml for all the linting rules
2. Remove all the unused imports.
3. Update all the deprecat

[2021-10-02 16:00] sarthakvaishnav09 commented on #98
Hey, I would like to work on this.

[2021-10-02 16:14] Mastersam07 commented on #99
Please assign this to me

[2021-10-02 16:45] pri1311 commented on #96
Hey! Can I work on this issue?

[2021-10-02 17:13] Mohitmadhav commented on #99
Okay, @Mastersam07.
Please remember to follow all the updated guidelines as specified in the README

[2021-10-02 17:22] Mohitmadhav commented on #98
Okay, cool @sarthakvaishnav09.

Please make sure to follow the updated guidelines given in the README.

[2021-10-02 17:57] Mohitmadhav commented on #96
@sarthakvaishnav09, I assigned you another issue, so one issue at a time!!

@dazzlerkumar, I'm assigning it to you. Make sure to follow the updated guidelines mentioned in the README.

@pri1311 there'll be more issues created. You can tag me there first to get yourself assigned before anyone else.

[2021-10-02 18:07] Mohitmadhav opened #101 "Email Login and Logout"
## Description
To implement Email Login in the Initial Screen. Currently, it's resulting in null uid as shown below.

## Screenshots

<div class = "row">
<img src="https://user-images.githubusercontent.com/59333817/135727265-2f1adf77-e593-482b-8bf8-30329bc31855.png"
 width = 45% />
<img src="https://user-images.githubusercontent.com/59333817/135727368-d77dc7aa-e41a-4601-8be0-bf03ae613337.png"
  wi

[2021-10-02 18:09] #83 closed

[2021-10-02 18:20] keyurgit45 commented on #101
I can give it a try!

[2021-10-02 18:26] Mohitmadhav commented on #56
@anhhao92 you can tag me on other issues to get yourselves assigned.

[2021-10-02 18:31] Mohitmadhav commented on #101
Cool @keyurgit45, please can try to implement auth provider if you can.
I'll make the state management easier.

[2021-10-03 00:02] Phantom0001 commented on #95
I can take a jab at this. :)

[2021-10-03 05:25] keyurgit45 commented on #101
I can use firebase.instance.authstatechanged . for that can create a new class to manage these things ?
In main.dart wrapper class route will be given to initialroute.
![image](https://user-images.githubusercontent.com/75253653/135741145-d72765a1-7c66-42ea-9558-2cef8b5a6dfb.png)

[2021-10-03 06:13] Mohitmadhav commented on #101
Okay @keyurgit45, also make sure to check the expiry time for logging in (Like if a user opens the app after 1 week, then he'll again have to log in). And remove the Wrapper Constructor if you're not using the key somewhere else

[2021-10-03 06:14] sarthakvaishnav09 commented on #98
@Mohitmadhav I ran into a new issue while logging in using email and password.

The getter 'uid' was called on null.

Also, the profile tab keeps on loading forever, so I'm not able to reproduce this error. (This happens when I sign up for this first time in the app, later on when I log in with the same email the error of null uid arises)

PS : The google signOut method in auth.dart seems complete

[2021-10-03 06:20] Mohitmadhav commented on #98
Yeah @sarthakvaishnav09, I have assigned that issue to someone else.
You just check for google signout.

[2021-10-03 06:44] #96 closed

[2021-10-03 07:25] Samveg12 commented on #25
Hi @alceil are u working on this? If not then please assign me this issue

[2021-10-03 07:26] alceil commented on #25
Im working on it

[2021-10-03 07:50] Mohitmadhav commented on #25
Hey, @Samveg12 you can work on other issues.
And if you want to fix a bug or feature not mentioned in the issues, you can always create an issue and tag me.
I'll add the labels and assign them to you.

[2021-10-03 07:55] AyushTripathi28 commented on #50
Hello, I am participating in Hacktoberfest this year. I want to contribute to this issue. Kindly assign me this issue.

[2021-10-03 09:28] Samveg12 opened #106 "Profile Tab not loading"
## Description
When we click on the profile button in the bottom navigation bar it doesnt loaf
## Screenshots
<img width="330" alt="Screenshot 2021-10-03 at 2 57 28 PM" src="https://user-images.githubusercontent.com/68071531/135747833-7d1fdf40-5263-4336-81b0-6765a61a52ba.png">

## Steps to Reproduce
Click on the profile tab in the bottom navigation bar
1. Check the provider folder - lib\providers

[2021-10-03 10:30] Mohitmadhav commented on #106
It's loading actually if you signed in through google
try out:

 - git pull upstream main
 - flutter clean
 - flutter packages get

[2021-10-03 10:32] Mohitmadhav commented on #50
Sure @AyushTripathi28, and make sure to follow the updated guidelines mentioned in README.

[2021-10-03 11:02] Mohitmadhav opened #108 "Bookmark not working (Provider State Management)"
## Description
The Books should get saved in the **Saved Books** section, once the user bookmarks them but it's not functional right now.

## Screenshots
<div class = "row">
<img src="https://user-images.githubusercontent.com/59333817/135750654-bb73fff5-4f56-49bc-8566-497d2ac4f598.png" width=45% />
<img src="https://user-images.githubusercontent.com/59333817/135750625-e9e0a6c5-446c-430b-8551-45438

[2021-10-03 11:12] Mohitmadhav commented on #25
![image](https://user-images.githubusercontent.com/59333817/135751021-42bf18ff-585f-4b20-9829-f5a6c4b8a335.png)

Hey, @alceil can you delete the location slider from the settings page too?

[2021-10-03 12:01] Mohitmadhav opened #109 "Get Book Genre from Books API"
## Description
- Retrieve the book genres from Books API in the dashboard page and when a user adds a book to the Library page.
- The dummy data is shown in the screenshot.
- Currently we are using Google Books API for retrieving books, but you can use other APIs like Goodreads, etc (See #97)

## Screenshots
<img src="https://user-images.githubusercontent.com/59333817/135752334-3ae6914c-ce47-4a86-

[2021-10-03 12:06] Samveg12 commented on #108
Please assign me this issue

[2021-10-03 12:10] Mohitmadhav opened #110 "Resize the buttons in the Book Description page"
## Description
Change the button size suitable for the screen and adjust the scrolling when clicked on *Read more* button.

## Screenshots
<img src="https://user-images.githubusercontent.com/59333817/135752818-78d89dce-43d1-4bbb-b04d-9acf2a3fc0de.png" width=45% />

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Book description file: lib\screens\book_desciption.

[2021-10-03 12:12] Mohitmadhav commented on #108
Sure @Samveg12 !! Just make sure to follow the README properly.

[2021-10-03 12:13] keyurgit45 commented on #101
@Mohitmadhav  I have made the changes. Log in and log out are working fine. also in the sign-in method, I added the makeUserDataFromAuthUser() method which I forgot to add in prev PR. but I haven't implemented that expiry time for logging because I don't know how to implement that . Should I make a PR?

[2021-10-03 12:33] keyurgit45 commented on #101
For the expiry time for logging in feature, can we store the time each time when a user opens the app in shared pref and checks if it is been a 1 week or not if yes then it will log out else the user will be on the home screen?

[2021-10-03 15:06] Mohitmadhav commented on #101
In general how long does the user can stay logged in (1 hr) if he doesn't open the app for a few days, which I don't know?

No , don't use shared preferences, I have already setup Flutter Secure Storage Package , have a look at that

[2021-10-03 15:23] keyurgit45 commented on #101
official docs : Firebase Authentication sessions are long lived. Every time a user signs in, the user credentials are sent to the Firebase Authentication backend and exchanged for a Firebase ID token (a JWT) and refresh token. Firebase ID tokens are short lived and last for an hour; the refresh token can be used to retrieve new ID tokens. Refresh tokens expire only when one of the following occurs

[2021-10-03 15:31] Mohitmadhav commented on #101
Yeah, I read that too, and also your previous comment.
So don't use shared preference but go for Flutter Secure storage package: https://pub.dev/packages/flutter_secure_storage, and keep the expiry for 2 days instead of a week

See lib\utils\keys_storage.dart

[2021-10-03 15:41] Mohitmadhav commented on #98
![image](https://user-images.githubusercontent.com/59333817/135761273-80e6519b-5d43-41f2-8c97-31d26a7c3e65.png)

Also in the file **private_profile.dart** change the push replacement code because the user is navigating back to the Initial screen. Hope you understood.
So remove the gesture detector, and do sign out inside the onPressed function.

[2021-10-03 15:50] Mohitmadhav commented on #95
@Phantom0001 you can take some reference from here: https://github.com/Project-Easter/Flutter-UI/pull/76

And then fully migrate the app and resolve the dependency issues.

[2021-10-03 16:25] Mohitmadhav opened #112 "Location update without tapping twice"
## Description
 - The user first taps on the floating action button
 - Then the user again taps on the logo to display the bottom modal sheet.
 - The location gets updated in the profile when the user taps on confirm.

## Screenshots
<div class = "row">
<img src="https://user-images.githubusercontent.com/59333817/135762728-309a8376-599c-4f53-92ec-0683a58cfbbe.png" width=30% />
<img src="https://us

[2021-10-03 17:01] keyurgit45 commented on #101
![image](https://user-images.githubusercontent.com/75253653/135763927-517326a4-781a-4a33-a429-75381825e24b.png)

I have written this code, when should we call writeCurrentSessionTime() ? @Mohitmadhav
we can write a new timestamp we user open the app but if we want to write when user exits the app , dispose method can't be used. so need to find another way

[2021-10-03 17:05] merelj commented on #79
I'll take a look at this one 🕵️

[2021-10-03 17:58] Mohitmadhav commented on #101
@keyurgit45 it's better to call writeCurrentSesionTime() when the user logs in .
After that, we should call checkForExpiredSession every time the user opens the app again.
If diff>2, then the user will be logged out.
Then the user will have to sign in again, after which, the writeCurrentSessionTime() will be called again to store the current login time.

[2021-10-03 18:00] keyurgit45 commented on #101
means you want, the user should sign-in in every 2 days?

[2021-10-03 18:01] Mohitmadhav commented on #79
Cool @merelj, I'm assigning it to you.
Also, once go through the whole app and see if this behavior gets repeated, and try to solve that too because all of them have the same provider path issue.

[2021-10-03 18:03] Mohitmadhav commented on #101
Actually, if the user does not open the app for more than 2 days, then he should sign in again.

[2021-10-03 18:04] keyurgit45 commented on #101
ok got it

[2021-10-03 21:54] Bracciata commented on #110
I would like to tackle this!

[2021-10-04 02:58] CarltonBranch opened #113 "56 style errors when building project in Flutter 2.5.1"
## Description
There are 56 style errors when building in latest Flutter

## Screenshots
Upload the current working screenshots here.
![Screenshot_1](https://user-images.githubusercontent.com/17789035/135786681-beac7376-51a6-4b6c-9393-9f3cfeb18d7f.png)
![Screenshot_2](https://user-images.githubusercontent.com/17789035/135786820-fe7fa7c7-b87c-4833-a4df-8018d1ca9c37.png)

## Steps to Reproduce
Pleas

[2021-10-04 02:59] Mohitmadhav commented on #110
Hello Thomas,
Can you comment on the issue, as it's not reflecting in Github?

Regards,
Mohit

On Mon, Oct 4, 2021 at 3:24 AM Thomas Braccia ***@***.***>
wrote:

[2021-10-04 03:01] Mohitmadhav commented on #113
@CarltonBranch , it's the duplicate of #99

[2021-10-04 03:07] Mohitmadhav commented on #101
If you resolved #106 too, then mention it in your final PR, and then I'll assign #106 also to you.

[2021-10-04 03:13] Mohitmadhav commented on #47
@CH1NRU5T any updates?

[2021-10-04 03:13] Mohitmadhav commented on #80
@phan-dev is it resolved?

[2021-10-04 03:14] Mohitmadhav commented on #86
@riyaku11 what's the progress?

[2021-10-04 03:16] keyurgit45 commented on #101
@Mohitmadhav Okay...firstly I will make PR for login and logout and then for issue #106

[2021-10-04 03:29] alceil commented on #25
Sure

[2021-10-04 04:12] keyurgit45 commented on #101
![image](https://user-images.githubusercontent.com/75253653/135791672-8c00491a-0f21-4150-b26b-053cf2d9f119.png)

after doing git pull upstream main, I am getting this. I need onAuthStateChanged method, what to do here? @Mohitmadhav

[2021-10-04 04:21] Mohitmadhav commented on #101
can you show the complete screenshot once?

[2021-10-04 04:22] keyurgit45 commented on #101
![image](https://user-images.githubusercontent.com/75253653/135794129-6348c85b-13c1-48a1-9454-da5a02f51c02.png)

[2021-10-04 04:23] Mohitmadhav commented on #101
Ok cool, accept the incoming changes then.

[2021-10-04 04:29] riyaku11 commented on #86
@Mohitmadhav sorry to inform that there is some issue with my laptop right now. I would not be able to complete the task,

[2021-10-04 04:30] #113 closed

[2021-10-04 05:34] #101 closed

[2021-10-04 05:40] Mohitmadhav commented on #106
@keyurgit45 now you can work on this issue. The Email Login is done.
We can check it again after 3 days for checking auto-logout.
Till you resolve this, the forgot password issue will be created.

[2021-10-04 05:45] keyurgit45 commented on #106
ok assign me

[2021-10-04 05:48] Mohitmadhav commented on #99
@Mastersam07 do *git pull upstream main* to get the updated code.
Then finally you should resolve all the errors and warnings.

[2021-10-04 06:34] AryanKhubchandani commented on #86
Hey @Mohitmadhav, can I work on this issue?

[2021-10-04 06:55] keyurgit45 commented on #106
@Mohitmadhav On the register page, there are only two fields email and password. So on the profile page, It shows "your name" instead of the actual name bcoz we haven't taken it from the user during registration. is it what is supposed to happen? or I'm missing something

[2021-10-04 07:44] SiddyDevelops commented on #110
Hello, I would like to resolve the issue, could you please assign it to me?

[2021-10-04 08:08] Mohitmadhav commented on #106
Yeah, actually I removed the Username page from the app as the Username was being retrieved from the function below during Google Login...

![Screenshot (1524)](https://user-images.githubusercontent.com/59333817/135815375-dcd0c236-72e7-4fff-a63a-cab3f41201e2.png)

But can this be achieved in a similar way for Email Login/Register in Firebase?

[2021-10-04 08:12] Mohitmadhav commented on #86
Cool @AryanKhubchandani, and remember to follow the README guidelines.

[2021-10-04 08:23] keyurgit45 commented on #106
We can take username while registering/sign up and we can overload this method by adding username as argument and add to the database.

[2021-10-04 09:07] Samveg12 commented on #108
Hi Mohit since I am new to this can u please help me reproduce this issue?

[2021-10-04 09:08] Samveg12 commented on #108
Like how do i get this landing page of the screen shot of the book you have put. Every book opens in form of a webview when I click on it

[2021-10-04 09:15] Samveg12 commented on #108
Also I removed the assignment accidentally please re-assign me this

[2021-10-04 09:20] mk1107 commented on #47
hi can you assign me this task

[2021-10-04 09:25] Mohitmadhav commented on #47
@mk1107 this issue is already resolved
And @CH1NRU5T please remember to add the issue number while making any PR from next time onwards.

[2021-10-04 09:27] #47 closed

[2021-10-04 09:33] Mohitmadhav commented on #108
Okay @Samveg12

- Firstly do *git pull upstream main*
 - Then go to the Profile page, and add your book.
 - Only books from Google Books API can be added. The booklist is: https://www.googleapis.com/books/v1/volumes?q=isbn
 - After adding your book it will appear on the Library page
 - Then click on it and try to bookmark. It won't work
 - Similarly, you can add many books from the above Google bo

[2021-10-04 10:11] Samveg12 commented on #108
Hi @Mohitmadhav I think the add book one function isnt working properly due to which the book isnt being added. Am I making a mistake or is it buggy and you want me to debug that as well?
<img width="618" alt="Screenshot 2021-10-04 at 3 36 34 PM" src="https://user-images.githubusercontent.com/68071531/135833380-fcc1bd1f-ecd5-44a9-a6b1-9a9e9348ab64.png">
d

[2021-10-04 11:00] CoderNamedHendrick commented on #109
I would like to work on this issue

[2021-10-04 11:21] Mohitmadhav commented on #108
It should only add books present in the google books API, but some book images due to which the API is causing a glitch.
But you should surely debug to check.

I removed some of the debug code because the actual code shouldn't contain the debugging.
You can try debugging !!!

[2021-10-04 11:27] Mohitmadhav commented on #109
Sure @CoderNamedHendrick.

For this issue, we need to retrieve the book genre (The screenshot has dummy data) from the API
Also please try out for books not present in the Google Books API. If you are able to do that, then replace it with Google API

For eg - Harry Potter, The Alchemist, etc were not present in Google Books API so we need to get those too.
Hope you understood what I mean to say.

[2021-10-04 18:21] Samveg12 commented on #108
Hi @Mohitmadhav please check the ss below the book should be in both owned and saved section or only saved section
<img width="1010" alt="Screenshot 2021-10-04 at 11 49 35 PM" src="https://user-images.githubusercontent.com/68071531/135903627-a02edec5-4450-42cb-9f69-bdcb43736fd5.png">

[2021-10-04 18:29] Mohitmadhav commented on #108
Yes @Samveg12, once you bookmark it should be added to the saved books section.
You must have added it through the *Add your book* section.

[2021-10-04 18:59] SanskarModi22 commented on #110
I want to work on this issue can you please assign it to me.

[2021-10-05 03:32] Mohitmadhav commented on #110
Okay @SanskarModi22, go through the README carefully.

[2021-10-05 03:34] Mohitmadhav commented on #110
Siddharth, your comment isn't showing up on Github. So you can go for other
issues for now.

On Mon, Oct 4, 2021 at 1:14 PM Siddharth Singh ***@***.***>
wrote:

[2021-10-05 03:58] Mohitmadhav commented on #106
Yes, @keyurgit45 that is feasible, you should cover all the entries for Email Login/Register as it is done for Google Login in the above image.

[2021-10-05 04:02] keyurgit45 commented on #106
OK so I will add a field for name and phone number while register/sign up. and what about emailvarified and photo URL ? can you make all this a new issue? It will be easy

[2021-10-05 04:53] keyurgit45 commented on #106
![Screenshot_20211005_102304_com.example.books_app.jpg](https://user-images.githubusercontent.com/75253653/135962275-9b256893-94e5-4b2f-9e47-8d5f56228849.jpg)

[2021-10-05 05:22] Mohitmadhav commented on #106
Cool @keyurgit45 I think we can call the same function for Email Login/Register.
Don't do anything for the photo URL, it will be set by default.

[2021-10-05 05:23] Mohitmadhav commented on #106
Good @keyurgit45, you called the same function, right?(Which I mentioned in the screenshot)

[2021-10-05 05:27] keyurgit45 commented on #106
![image](https://user-images.githubusercontent.com/75253653/135965412-cadefcb9-1617-45d2-800b-d48177fa76b3.png)

yeah. actually did some small changes

[2021-10-05 05:28] Mohitmadhav commented on #106
Yes they are added in the Auth and Cloud Firestore user collection

[2021-10-05 05:30] keyurgit45 commented on #106
should I make it final?

[2021-10-05 05:30] Mohitmadhav commented on #106
Ok cool @keyurgit45

[2021-10-05 05:31] Mohitmadhav commented on #106
Yes, now you can create the PR, and I'll review it

[2021-10-05 05:59] RandyKdev commented on #38
Good day, I have created a PR regarding this issue.

I would like to work on this.

[2021-10-05 07:04] SanskarModi22 commented on #110
In the issue you have written _adjust the scrolling when clicked on Read more button _  . Can you please explain more here as what are trying to say.

[2021-10-05 07:56] #106 closed

[2021-10-05 08:00] Mohitmadhav commented on #38
Cool @RandyKdev but remember to follow the guidelines next time and create a PR after getting assigned only.
And do *git pull upstream main* before making the final commits in your PR.
Then I'll review it.

[2021-10-05 08:02] Mohitmadhav commented on #110
When we click on the *Read more* button, then the screen is not scrollable sometimes, so you have to check for that

[2021-10-05 08:04] AyushTripathi28 commented on #50
Thank you so much to assign me this issue.

[2021-10-05 09:03] RandyKdev commented on #38
Ok, thanks. I'll do better next time in following the guidelines of this project.

[2021-10-05 09:34] keyurgit45 commented on #112
I would like to give it a try! the map screen (2nd image) should be shown or not?

[2021-10-05 10:36] Mohitmadhav opened #124 "Setup Forgot Password using Firebase Auth"
## Description
To add the reset password feature in the Forgot Password section.

## Screenshots
<div class = "row">
<img src = "https://user-images.githubusercontent.com/59333817/136005985-1bd81163-1cd8-470b-bae1-6b75633769bc.png" width = 48.5% />
<img src = "https://user-images.githubusercontent.com/59333817/136005396-1737d35d-c93f-48eb-a630-a5dadf5e7f18.png" width = 40% />
</div>

## Steps to R

[2021-10-05 10:46] #108 closed

[2021-10-05 10:48] ManishS6 commented on #124
@Mohitmadhav I would like to work on this
Please assign this task to me.

[2021-10-05 10:53] Mohitmadhav commented on #124
Ok @ManishS6 , just remember to follow the README guidelines carefully

[2021-10-05 10:58] alceil commented on #25
I have done the required changes. Can you have a look? @Mohitmadhav

[2021-10-05 11:52] #25 closed

[2021-10-05 11:54] Mohitmadhav commented on #92
@keyurgit45 you up for this?

[2021-10-05 12:09] keyurgit45 commented on #92
Yes

[2021-10-06 08:22] Mohitmadhav commented on #112
Cool @kshitij5 just go through the issue and README guidellines carefully.

[2021-10-06 16:42] #38 closed

[2021-10-06 17:02] Mohitmadhav commented on #99
@Mastersam07 any updates?

[2021-10-06 17:14] #112 closed

[2021-10-06 18:55] RandyKdev commented on #11
Good day, I would like to have a shot at this.

Could some more information be given about this? like how the database is structured or will be structured for the chat section.

[2021-10-07 05:34] Mohitmadhav commented on #11
Cool @RandyKdev. See database_services.dart and the provider folder for more details.
The Firebase collections will be structured as #92. You just need to implement the chat functionality.

[2021-10-07 13:05] Mohitmadhav opened #130 "User Preference Form not getting saved"
## Description
- Once you select the genres, the Favourite author and book get erased.
- The Form doesn't save (gives an error when tapped on save)

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/136388955-d75b3b0c-4410-41f8-90d8-cb350169a4b0.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Check lib\screens\user_preferences.dart

[2021-10-07 14:30] AryanKhubchandani opened #131 "Fix Dark Theme Personalize button"
## Description
Personalize button is not visible in the dark theme and needs to be fixed.

## Steps to Reproduce

1. darkTheme ThemeData needs to be updated

[2021-10-07 15:06] Mohitmadhav commented on #94
Cool @kshitij5, and make sure to follow linting and the README guidelines.

[2021-10-08 00:50] RandyKdev commented on #11
@Mohitmadhav From the above guidelines, I would like to give a suggestion on how the firebase collection for the Chat section should be structured to ease querying.

- A collection should be named "chat"

        - Every document in the "chat" collection will hold the details and messages between 2 users
        - Every document int the "chat" collection will be structured as below

[2021-10-08 11:33] Mohitmadhav commented on #80
@phan-dev since you are not following up, I'll assign it to someone else.

[2021-10-08 11:33] #131 closed, assigned to nobody

[2021-10-08 11:36] ankitoscar commented on #11
Hii @RandyKdev , I was thinking if we could have a sent, delivered and seen feature, just like that. Can it be implemented?

[2021-10-08 11:42] Mohitmadhav commented on #80
Cool @AryanKhubchandani. You can delete your previous branch and make a new one containing the updated changes.
Then maybe the personalize button may work for you.

[2021-10-08 11:50] #98 closed

[2021-10-08 13:19] #56 closed, assigned to krish-dev-7

[2021-10-08 14:46] Mohitmadhav opened #132 "Flutter Test file errors"
## Description
Flutter testing file i.e. default_test.dart has started throwing errors in the latest flutter version 2.5.

## Screenshots
<div class ="row">
<img src ="https://user-images.githubusercontent.com/59333817/136575208-54add547-3cb9-46b5-9ce2-46c28ea4ad0c.png" width = 60%/>
<img src ="https://user-images.githubusercontent.com/59333817/136575316-9eb6781d-06ee-4c88-8b9e-4230a21159ee.png" w

[2021-10-08 15:54] Mohitmadhav opened #133 "App setup for Play Store Release"
## Description
App has only been set up in Android for now. What else is needed for setting up the app in iOS for the Play store release?

## Screenshots
![image](https://user-images.githubusercontent.com/59333817/136586070-2e6e7a39-e455-4872-9dc2-eac19ed193f8.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. What dart file changes have to be made according t

[2021-10-08 16:19] Mohitmadhav opened #134 "Change App folder structuring"
## Description
 - Change the app root structuring by distributing common files separately.
 - For instance, look into books and base folder in lib/services. We need to use and remodify them.
 - Separate models and providers. Like currently there are 2 files - book.dart, and books.dart...need to structure them according to separate folders.
 - Similarly, we need to check for all the dart files to m

[2021-10-08 17:03] Mohitmadhav opened #135 "Gradle Build failure"
## Description
Since making the app iOS compatible, the Gradle build and cleaning are getting failed continuously.
`./gradlew upgrade`  `./gradlew clean build`, none of them are working

## Screenshots
![Screenshot (1555)](https://user-images.githubusercontent.com/59333817/136595361-ad22c3a7-ecef-4909-a31f-8fd350f1a1f3.png)

## Steps to Reproduce
Please provide detailed steps for reproducing the i

[2021-10-08 17:19] Mohitmadhav opened #136 "Get Recommended Books in the Dashboard"
## Description
- Users should get recommended books according to genres selected by them in the user preferences dialog.
- The User Preferences dialog is being resolved here: #130. So for now, take any 3 random genres.
- Another section like *Discover New* (As shown in the screenshot) should be created containing books based on these 3 random genres because the user preferences tab is being fixed.

[2021-10-08 17:39] Mohitmadhav opened #137 "Unfocus all the textfields in the app"
## Description
All the text fields should get dismissed when users type their entries. Check https://flutterigniter.com/dismiss-keyboard-form-lose-focus/. Look for all the text fields in the entire app which are not shown in this screenshot.

## Screenshots
<div class ="row">
<img src ="https://user-images.githubusercontent.com/59333817/136598085-e7257f59-26d1-4640-80d9-ea531fbf2f82.png" width = 3

[2021-10-08 17:50] Mohitmadhav opened #138 "Initial Screen UI change"
## Description
Change the design of the Initial Screen (Like the green color background, or adding any vector there). The current UI is shown below.

## Screenshots
<img src = "https://user-images.githubusercontent.com/59333817/136600249-f157d455-7bc8-4690-9939-9540ec6a9eee.png" width = 50% />

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Initial Screen :lib\s

[2021-10-08 18:17] keyurgit45 commented on #137
Actually it is very easy issue so if any beginner wants to try he can try so I deleted my comment

[2021-10-09 05:44] Mohitmadhav commented on #94
We just need the users within 10 km radius

[2021-10-09 17:29] Samveg12 commented on #130
@Mohitmadhav could you please check the database if a book with fav author 'samveg shah' fav book 'samveg shah' and genres Action Adventure has been saved in the firebase database?

[2021-10-10 07:22] Mohitmadhav commented on #130
![Screenshot (1559)](https://user-images.githubusercontent.com/59333817/136686586-4dcb64db-e6fb-4221-81f6-747f63efe447.png)
Yes @Samveg12

[2021-10-10 08:25] HARSHBHUDOLIA commented on #94
The Geolocation package/api gives a detailed address based on location, so if we can store all the different values like city/state/pin number/street in user in different fields then we can do a better search, we can start with Pin Number, which is generally associated with nearest post office to limit the calculations.

I hope what I am saying is understandable

[2021-10-10 11:31] aryang117 commented on #132
Hey, I did look into the `geocoder` issue, and as of right now, it seems to be unsolvable. The entire plugin/package seems to be out-of-date which is causing the build errors. Also, `geocoder`'s repository seems to have gone stale (i.e, no developments/activity)
So, either we -
1. re-write the entire plugin and upgrade it to Android V2 or,
2. leave it as is or,
3. find an alternative package/plugi

[2021-10-10 14:59] lalit-commits commented on #138
Hey @Mohitmadhav ,I would like to work on this issue ,please assign it to me

[2021-10-10 15:01] lalit-commits commented on #134
Hey @Mohitmadhav ,I would like to work on this issue ,please assign it to me.

[2021-10-10 15:03] lalit-commits commented on #137
Hey @Mohitmadhav  ,I would like to work on this issue ,please assign it to me

[2021-10-10 18:09] merelj commented on #79
For now almost every page is either broken or empty whenever I start up the app: I cannot even navigate to book screen and Edit Profile Page does not have a working link to it 😕

Not sure if it has something to do with my setup, internet connection or problems with the code, but for now I don't think I have enough time on my hands to work through it without slowing you down, sorry 🙇

[2021-10-11 03:18] Mohitmadhav commented on #79
* The Provider error is the same with these 2 pages (Profile and Owners info tab)
* And Dashboard and Library page won't be empty if you add your book through the `Add your book` button on the Profile page
* The rest empty pages have been allotted as issues to other people so don't worry about them

@merelj you try out to resolve them, and if not then you can unassign yourself and work on some oth

[2021-10-11 03:20] Mohitmadhav commented on #132
@aryang117 we can discuss it on #91.
I'll tag you there. Because we need null safety too, in future

[2021-10-11 06:08] ankitoscar commented on #95
@Phantom0001 since you have not given any update since the past week, I am unassigning this issue from you.

[2021-10-11 06:10] ankitoscar commented on #99
@Mastersam07 you have not provided any updates for the last week, hence I am unassigning this issue from you.

[2021-10-12 12:55] keyurgit45 commented on #95
@Mohitmadhav assign me this issue

[2021-10-13 08:11] RandyKdev commented on #11
Ok, I will complete everything before making a PR

[2021-10-13 13:14] #132 closed, assigned to aryang117

[2021-10-15 16:46] #137 closed

[2021-10-15 16:48] Mohitmadhav commented on #11
@RandyKdev I think squashing the commits in the end might work if the PR is very large

[2021-10-18 06:39] aryang117 commented on #138
Hey @Mohitmadhav, can I work on this?

[2021-10-19 04:31] Mohitmadhav commented on #138
Ok @aryang117

[2021-10-31 04:11] keyurgit45 commented on #136
can I work on this? @Mohitmadhav

[2021-10-31 09:47] Mohitmadhav commented on #136
Will assign it to you once I merge #146

[2021-10-31 11:58] #79 closed

[2021-10-31 12:32] Mohitmadhav commented on #136
Either we can try out this: https://pub.dev/packages/googleapis

Or we'll have to change the Books API but I think every other free API will give similar issues.

[2021-10-31 13:22] aryang117 commented on #99
Hey @Mohitmadhav, can I work on this?

[2021-10-31 17:13] Mohitmadhav commented on #99
Sure @aryang117

[2021-10-31 17:18] Mohitmadhav commented on #99
It won't take much time @aryang117. Now there are around 40 warnings only

[2021-10-31 17:25] aryang117 commented on #99
@Mohitmadhav Yea, I already fixed a few of them locally.
Once my PR for #147 gets accepted, I'll quickly commit the fixes and make the PR for this

[2021-10-31 17:40] #138 closed

[2021-10-31 17:44] Mohitmadhav commented on #136
You can look into it @keyurgit45

[2021-10-31 17:52] Mohitmadhav commented on #99
Okay @aryang117, you'll have to make it real quick.

[2021-10-31 18:08] Mohitmadhav commented on #99
@aryang117 just remember to do ` git pull upstream main ` before making the PR.

[2021-10-31 18:24] aryang117 commented on #99
@Mohitmadhav yea I did that and already made a PR with fixes.

[2021-10-31 18:30] #99 closed

[2021-11-01 04:46] keyurgit45 commented on #136
@Mohitmadhav We can use the search parameter in query to get books from the given category. Also, Do we have show books from a favorite author?

[2021-11-01 06:05] Mohitmadhav commented on #136
No no, just the books based on the genres selected by the user for now.

[2021-11-01 09:03] keyurgit45 commented on #136
@Mohitmadhav Google books API is not working as we want. If I want books related to the fiction genre, the response is giving me other genres also. I don't know why it is happening. Also if the user selected 5 genres then we have to make 5 different requests to the API so it would be a quite inefficient task.

[2021-11-03 09:25] keyurgit45 opened #149 "Refactor code for Multiple Chip Choice"
## Description
This issue is in continuation with issue #130. User preferences are not getting saved due to package issues.

## Steps to Reproduce
Please provide detailed steps for reproducing the issue.

1. Create a new class for multiple chips choice.
2. Implement required methods in that class.

[2021-11-14 18:01] RandyKdev commented on #11
Good day, sorry for delaying this issue for a while now. I am unassigning myself because my exams are drawing near and I won't be able to allocate enough time to this.
When it's over, if this issue is still open, then I will take it up back and continue the work I started.

[2021-11-15 13:32] #149 closed

[2021-12-25 14:16] Mohitmadhav commented on #135
I have resolved this for Android but if tested in iOS, it has to be resolved

[2022-01-20 08:51] #11 closed

[2022-01-27 10:44] #135 closed

[2022-01-27 10:53] Mohitmadhav opened #154 "Edit Phone number validator"
## Description
Currently, the phone number is just defined for Indian users (+91). It has to be defined for all the people across the globe.

## Screenshots
None

## Steps to Reproduce
1. Change the Regex value in the phone number entry
2. Change the following in validator. dart

## Additional data
None

[2022-05-31 14:17] Mohitmadhav opened #155 "Unable to retrieve User location"
## Description
The error message is "You have been blocked from the geocoder free xml port due to violation of our terms of service. Contact admin at geocode dot xyz for more information"  at location_helper.dart file as shown in the screenshot. The error occurs whenever the user clicks on the floating action button (blue location icon at the bottom right corner) in the app.
I got nothing on the g

[2022-05-31 15:00] Mohitmadhav opened #156 "Book Owner's info not getting updated"
## Description
The following error appears when tapping on the Owner's info tab: "a document path must be a non-empty string" as shown in the screenshot. It's probably a null entry on the firebase side but the user id is not null in the firebase console so maybe it's not properly reflected on the flutter side.  It has to be checked what exactly is the null value referred to in the message.

## Scr

[2022-05-31 15:57] Mohitmadhav commented on #136
No problem @keyurgit45, lets's focus on other issues right now. I am planning to release the app at the earliest.

[2022-06-02 05:25] 21satvik commented on #156
Hey Mohit,
Can I help you with this?

[2022-06-02 08:52] keyurgit45 commented on #136
Hey @Mohitmadhav I think we need to look into this first. Can you create a new issue for this?
![image](https://user-images.githubusercontent.com/75253653/171593268-a0903010-3781-4f53-8eb6-83ba767b6d6c.png)

[2022-07-23 14:46] Mohitmadhav commented on #136
Yeah you can create one @keyurgit45 but this isn't being displayed in my console so do have a look again

[2022-07-24 08:13] Mohitmadhav opened #159 "Android Embedding V2 Migration"
## Description
This app is using a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to migrate this app to the V2 embedding.
Take a look at the docs for migrating an app: https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects
The plugin `cloud_firestore` requires your app to be migrated to the Android embedding v2

[2022-07-24 14:32] #155 closed

[2022-10-11 07:59] Spyy004 commented on #156
Is this still open? If yes, can you assign it to me?